USE [master]
GO
/****** Object:  Database [Dealine]    Script Date: 5/15/2024 10:23:17 AM ******/
CREATE DATABASE [Dealine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dealine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Dealine.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Dealine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Dealine_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dealine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dealine]
GO
/****** Object:  User [nnt]    Script Date: 5/15/2024 10:23:17 AM ******/
CREATE USER [nnt] FOR LOGIN [nnt] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[history]    Script Date: 5/15/2024 10:23:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history](
	[id] [int] NULL,
	[sid] [int] NULL,
	[value] [nchar](10) NULL,
	[time] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[SP_Chart]    Script Date: 5/15/2024 10:23:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Chart]
AS
BEGIN
    DECLARE @json nvarchar(max) = N'{"ok":1,"msg":"ok","data":[';

    SELECT @json += FORMATMESSAGE(N'{"id":"%d","sid":"%d","value":"%s","time":"%s"},',
                              [id], [sid], CONVERT(nvarchar(50), [value]), CONVERT(nvarchar(50), [time]))
    FROM history;

    IF RIGHT(@json, 1) = ','
    BEGIN
        SET @json = LEFT(@json, LEN(@json) - 1);
    END

    SET @json = @json + ']}';

    SELECT @json AS json;
END
GO
USE [master]
GO
